<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLBenhNhanConnectionString"
            connectionString="Data Source=H71M18\MSSQLSERVER1;Initial Catalog=QLBenhNhan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>